.header{
    background-color: #10847E;
}

.header-logo{
    width: 200px;
}


.text-white{
    color: white;
    
}

.dekhi{
    background-color: teal;
}

.cart-section-main-div{
    background-color: #10847E;
}